{% extends 'TestTestBundle::layout.html.twig' %}

{% block meta %}
	<meta keywords="Test symfony" />
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/test/css/style.css') }}" />
{% endblock %}
	
{% block title %}{{ title }}{% endblock %}
	
{% block page_header %}{{ header }}{% endblock %}

{% block content %}
    	<ol>
				<li>Создать бесплатный аккаунт на github.com.</li>
				<li>Склонировать Symfony 2.</li>
				<li>Создать главную страницу с любым контентом. (приветствуется использование шаблонизатора Twig)</li>
				<li>На главной странице создать ссылку на другую страницу с url <a href='/userform'>http://symfony.m-teach.ru/userform</a>.</li>
				<li>На этой странице создать форму с любым набором полей.</li>
				<li>При отправке формы должно отсылаться письмо с названиями и значениями полей и фиксированной подписью (приветствуется использование SwiftMailer, который идет в комплекте с Symfony 2).</li>
				<li>После отправки письма должна открываться страница с результатом выполнения – отправлено письмо или нет и двумя ссылками «Отправить новое» и «Вернуться на главную».</li>
				<li>Роутинг и Форма должны быть созданы с использованием технологии Symfony 2.</li>
			</ol>
			<p>На собеседовании быть готовым объяснить, почему были использованы те или иные методы создания формы, роутинга и шаблонов.</p>
{% endblock %}